spring:
  application:
    name: BackendApp
  datasource:
    url: jdbc:postgresql://localhost:5432/backend
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
secreteJwtString: dennis123456789dennis123456789dennis123456789
